<h4>List of Users</h4>
<ul>
    <li *ngFor="let user of users$ | async, let i = index">
        <div *ngIf='!checkUser' class="user">
            {{user.login}}
            <button (click)="checkUser=true">Edit</button>
            <button (click)="removeUser(i)">Delete</button>
        </div>
        <div *ngIf='checkUser' class="edit">
            <input #box value={{user.login}}>
            <button (click)="editUser(i, box.value); checkUser=false">Save</button>
        </div>
    </li>
</ul>